.profile__image {
  position: relative;

}

.profile__image::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -28px;
  right: 0;
  bottom: 0;
  background: no-repeat rgba(0, 0, 0, 0.8) url(../../../images/avatar.svg);
  background-position: center;
  opacity: 0;
  transition: 1s;
}

.profile__image:hover::before {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .profile__image {
    margin: 0 0 22.5px;
  }
}