.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 50px;
  max-width: 880px;
}

@media screen and (max-width: 640px) {
  .profile {
    flex-direction: column;
    margin: 0 auto 36px;
  }
}