.popup__error {
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: #FF0000;
  min-height: 30px;
  visibility: hidden;
  padding-top: 5px;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}