.gallery__delete {
  background: url(../../../images/delete.svg);
  position: absolute;
  width: 18px;
  height: 19px;
  border: none;
  place-self: flex-end;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}